#cabecera2 {
	background-color: #2B464B;
	width: 100%;
	height: 60px;
	margin: auto;
}

#cabeza2 {
	text-align: right;
	padding-top: 20px;
}

.bombon {
	padding: 8px 15px;
	margin-right: 10px;
	background-color:#568c96;
	color: #f3f7f8;
	text-decoration: none;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	position: relative;
	text-align: center;
}

.bombon:before{
	content: "";
	display: block;
	width: 0;
	height: 3px;
	background-color: white;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transition: .3s;
}

.bombon:hover:before{
	width: 100%;
	left: 0;
}

#logo1 {
	width: 300px;
	height: 300px;
}

#bombon2 {
	padding: 5px 10px;
	background-color:#568c96;
	color: #f3f7f8;
	text-decoration: none;
	font-family: 'Abel', sans-serif;
	text-align: left;
	border: 0px;
}

form {
	text-align: right;
	margin: auto;
	width: 320px;
	font-family: 'Abel', sans-serif;
}