html {
			box-sizing: border-box;
			font-size: 10px;
		}

		body {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			color: #333;
			font-size: 1.6rem;
			background-color: #FAFAFA;
			-webkit-font-smoothing: antialiased;
		}

		a,
		a:visited {
			color: #0A9297;
		}

		footer {
			text-align: center;
			margin: 1.6rem 0;
		}

		h1 {
			text-align: center;
		}

		.container {
			width: 96%;
			margin: 1.6rem auto;
			max-width: 42rem;
			text-align: center;
		}

		.demo-picked {
			font-size: 1.2rem;
			text-align: center;
		}

		.demo-picked span {
			font-weight: bold;
		}